/*
.wrapper {
    !/ width: 20rem;*!*!
    background-color: aqua;
    min-height: 95vh;
}
*/
.icon-sidebar {
    height: 1.5rem;
    width: 1.5rem;
}
.icon-sub-nav{
    height: 1.5rem;
    width: 1.5rem;
}