html {
    font-size: 14px;
}

/*body {*/
/*    font-family: var(--font-family), Roboto, Helvetica, Arial, sans-serif;*/
/*    font-weight: normal;*/
/*    background-color: #376365;*/
/*    color: var(--text-color);*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}